<p>Select the position of white knight</p>
<p>
  <select [(ngModel)]="whiteKnight.coordx" (change)="verifyPossibleMoves(whiteKnight)">
    <option>a</option>
    <option>b</option>
    <option>c</option>
    <option>d</option>
    <option>e</option>
    <option>f</option>
    <option>g</option>
    <option>h</option>
  </select>
  <select [(ngModel)]="whiteKnight.coordy" (change)="verifyPossibleMoves(whiteKnight)">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
  </select>
</p>

<p>Select the position of black knight</p>
<p>
  <select [(ngModel)]="blackKnight.coordx" (change)="verifyPossibleMoves(blackKnight)">
    <option>a</option>
    <option>b</option>
    <option>c</option>
    <option>d</option>
    <option>e</option>
    <option>f</option>
    <option>g</option>
    <option>h</option>
  </select>
  <select [(ngModel)]="blackKnight.coordy" (change)="verifyPossibleMoves(blackKnight)">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
  </select>
</p>

<table border="0">
  <tr *ngFor="let line of chess.rows">
    <td *ngFor="let col of chess.columns" id="{{col}}{{line}}"></td>
  </tr>
</table>